<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <p class="lead mt-4">
        <a href="/User/dashboard" class="btn btn-primary btn-block mb-2"
          >Dashboard</a
        >
      </p>

      <h1 class="text-center mb-3">
        <i class="fa fa-book" aria-hidden="true"></i> Add Courses
      </h1>

      <% if (messages && messages.length > 0) { %>
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
        style="color: black"
      >
        <% messages.forEach(message => { %>
        <strong><%= message.msg %></strong>
        <% }); %>

        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          style="color: red"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>

      <form action="/admin/Course/createCourses" method="POST">
        <div class="form-group">
          <label for="name">Course Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="description">Course Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            placeholder="Enter Description"
            value="<%= typeof description != 'undefined' ? description : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="code">Course Code</label>
          <input
            type="text"
            id="code"
            name="code"
            class="form-control"
            placeholder="Enter Code"
            value="<%= typeof code != 'undefined' ? code : '' %>"
          />
        </div>

        <button type="submit" class="btn btn-warning btn-block mt-5">
          Add
        </button>
      </form>
    </div>
  </div>
</div>
