<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-3 font-weight-bold">
        Hello, <strong class="text-muted"> <%= user.name %> </strong>
      </h1>

      <p class="lead mt-4">
        <a href="/dashboard" class="btn btn-success btn-block mb-2"
          >Dashboard</a
        >
      </p>

      <p class="lead mt-4">
        <a href="/auth/logout" class="btn btn-danger btn-block mb-2">Logout</a>
      </p>
    </div>
  </div>
</div>
